body {
    background-color: #111;
    color: white;
    font-family: "Bungee", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 24px;
    color: #07977a;
}

p {
    opacity: 0.8;
    font-size: 14px;
}

#gameContainer {
    margin: 20px auto;
}

#infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}

#cronometro,
#memorias {
    font-size: 16px;
}

button {
    font-family: "Bungee", sans-serif;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #068169;
    border: none;
    border-radius: 5px;
    color: #111;
    transition: 0.2s;
}

button:hover {
    background-color: #00ffbf;
}